
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/.gitattributes
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/coverage.cmd
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/deploy/main.yml
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/doc/CONFIG.md
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/LICENSE
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/README.md
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/appsettings.Development.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/appsettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/Controllers/WeatherForecastController.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/log4net.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/Program.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/Properties/launchSettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/Sample.WebApi.Net50.csproj
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/Startup.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/Net5.0/WebApi/WeatherForecast.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/appsettings.Development.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/appsettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/Controllers/WeatherForecastController.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/log4net.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/Program.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/Properties/launchSettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/Sample.WebApi.NetCore20.csproj
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/Startup.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.0/WebApi/WeatherForecast.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/appsettings.Development.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/appsettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/Controllers/WeatherForecastController.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/log4net.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/Program.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/Properties/launchSettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/Sample.WebApi.NetCore22.csproj
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/Startup.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp2.2/WebApi/WeatherForecast.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/appsettings.Development.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/appsettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/Controllers/WeatherForecastController.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/Program.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/Properties/launchSettings.json
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/Sample.WebApi.NetCore31.csproj
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/Startup.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/WeatherForecast.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/samples/NetCoreApp3.1/WebApi/web.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Entities/MessageCandidate.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Entities/NodeInfo.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Extensions/DocumentExtensions.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Extensions/Log4NetProviderExtensions.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Extensions/LogExtensions.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Log4NetExtensions.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Log4NetLogger.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Log4NetProvider.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Log4NetProviderOptions.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Microsoft.Extensions.Logging.Log4Net.AspNetCore.csproj
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/ILogScopeFactory.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Log4netScope.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Log4NetScopeFactory.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Log4NetScopeRegistry.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Registers/Log4NetEnumerableKeyValuePairScopedRegister.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Registers/Log4NetObjectScopedRegister.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Registers/Log4NetScopedRegister.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4Net.AspNetCore/Scope/Registers/Log4NetStringScopedRegister.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/src/Microsoft.Extensions.Logging.Log4net.sln
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Fixtures/AppenderFixture.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Fixtures/IsEnabledClassData.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Fixtures/TestLogMethodData.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/log4net.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Log4NetExtensionsTests.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Log4NetLoggerTests.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Log4NetProviderOptionsTests.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Log4NetProviderTests.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Models/Log4NetFileOption.cs
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.All.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.DebugOrHigher.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.FatalOrHigher.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.NoAppenders.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.TestAppenderTrace.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.TestAppenderWarn.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Resources/log4net.TraceOrHigher.config
Microsoft.Extensions.Logging.Log4Net.AspNetCore-develop/tests/Unit.Tests.Target.Net5/Unit.Tests.Target.Net5.csproj
~$terials && tasks.docx
